<style>
    /* 第四题：阅读 */
    .task-reading {
        font-family: "Kaiti", "楷体", serif;
        font-size: 24px;
        line-height: 1.8;
        padding: 0 20px;
    }
</style>

<div class="section">
    <div class="section-title">
        <%= title %>
    </div>
    <div class="task-reading">
        <%= data %>
    </div>
</div>