<style>
    /* 第一题：描红 */
    .task-trace .trace-row {
        display: flex;
        margin-bottom: 10px;
    }
</style>

<div class="section">
    <div class="section-title">
        <%= title %>
    </div>
    <div class="task-trace">
        <% data.forEach(function(item) { %>
            <div class="trace-row">
                <div class="grid-group">
                    <div class="pinyin">
                        <%= item.pinyin %>
                    </div>
                    <div class="tianzige"><span class="char">
                            <%= item.word %>
                        </span></div>
                </div>
                <div class="grid-group">
                    <div class="pinyin"></div>
                    <div class="tianzige"><span class="char watermark">
                            <%= item.word %>
                        </span></div>
                </div>
                <div class="grid-group">
                    <div class="pinyin"></div>
                    <div class="tianzige"></div>
                </div>
                <div class="grid-group">
                    <div class="pinyin"></div>
                    <div class="tianzige"></div>
                </div>
            </div>
            <% }) %>
    </div>
</div>